extends layout

block content
  h1 Welcome to Haus of haus
  h2 I bet your wondering why I have gathered you all here today?
    p Well, I kinda like learning new software
    p and in the process, I found I enjoy NodeJS.
    p So I decided to write my website in node
    p and for the hell of it, add user authentication.
