doctype html
- var user = { isAnonymous: false, name: 'Eric Sabelhaus' }
html
  head
    title Haus of Haus
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/modernizr.js')
  body
    block header
      nav.top-bar(data-topbar='data-topbar', role='navigation')
        ul.title-area
          li.name
            h1
              a(href='/') Hausofhaus
              li.toggle-topbar.menu-icon.has-dropdown
                a(href='#')
                  span
                ul.dropdown
                  li
                    a(href='/pages/1') Posts
        section.top-bar-section
          ul.left.has-dropdown
            li
              a(href='/pages/1') Posts
    block content
    script(src='/js/vendor/jquery.js')
    script(src='/js/foundation.min.js')
    script.
      $(document).foundation();
    script(src='/js/stickey_footer.js')
    block foot
      #footer
        p Designed by Eric Sabelhaus
