doctype html
- var user = { isAnonymous: false, name: 'Eric Sabelhaus' }
html
  head
    title Haus of Haus
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    script(src='/js/vendor/modernizr.js')
  body
    block header
      nav.top-bar(data-topbar='data-topbar', role='navigation')
        ul.title-area
          li.name
            h1
              a(href='/') Hausofhaus
              li.toggle-topbar.menu-icon.has-dropdown
                a(href='#')
                  span
                ul.dropdown
                  li
                    a(href='/pages/1') Posts
        section.top-bar-section
          ul.left.has-dropdown
            li
              a(href='/pages/1') Posts
    div.container
      div.row
        div.12.columns
          block content
    script(src='/js/vendor/jquery.js')
    script(src='/js/foundation.min.js')
    script.
      $(document).foundation();
    script(src='/js/stickey_footer.js')
    block foot
    #footer
      div.row
        div.small-12.large-10.columns
          div.row
            div.small-8.large-8.columns
              Designed By Eric Sabelhaus
            div.small-4.large-4.columns
              ul.inline-list.right
                li
                  a(href="https://github.com/e-sabelhaus")
                    i.fi-social-github
                li
                  a(href="https://twitter.com/ESabelhaus")
                    i.fi-social-twitter
                li
                  a(href="https://plus.google.com/+EricSabelhaus88")
                    i.fi-social-google-plus