doctype html
- var user = { isAnonymous: false, name: 'Eric Sabelhaus' }
html
  head
    title Haus of Haus
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/foundation.css')
    script(src='/js/vendor/modernizr.js')
    link(rel='stylesheet', href='/css/style.css')
  body
    block header
      nav.top-bar(data-topbar='data-topbar', role='navigation')
        ul.title-area
          li.name
            h1
              a(href='/') Hausofhaus
              li.toggle-topbar.menu-icon.has-dropdown
                a(href='#')
                  span
                ul.dropdown
                  li
                    a(href='/pages') posts
        section.top-bar-section
          ul.right
            li.has-dropdown.not-click
              a(href='#') stuff
              ul.dropdown
                li
                  a(href='/pages/1') posts 
    block content
      script(src='/js/vendor/jquery.js')
      script(src='/js/foundation.min.js')
      script.
        $(document).foundation();
      script(src='/js/stick_footer.js')
    block foot
      #footer
        p Designed by Eric Sabelhaus
